.container {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: calc(100vh - 60px);
  flex-direction: column;
  background-color: #000;
}

.container .contentContainer {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
  margin: 10px;
  border-bottom: 1px solid #1e1e1e;
  z-index: 0;
  margin-bottom: 100px;
}

.container .contentContainer .containerContentInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 35px;
  margin-top: 60px;
  opacity: 0;
  width: 100%;
}

.container .contentContainer .containerContentInfo .contentTextInfo {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.container .contentContainer .containerContentInfo .imgPhoto {
  border-radius: 100%;
  height: auto;
  width: 180px;
  border: 1px solid #0a75f3;
  padding: 5px;
}

.container .contentContainer h1 {
  color: #fff;
  font-size: 30px;
  text-align: start;
  margin-bottom: 20px;
}

.container .contentContainer h1 span {
  color: #0a75f3;
}

.container .contentContainer p {
  color: #a1a1aa;
  font-size: 16px;
  width: 80%;
  text-align: start;
}

.container .contentContainer p a {
  color: #0a75f3;
  transition: 0.3s;
}

.container .contentContainer p a:hover {
  transition: 0.3s;
}

.container .containerProject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
  margin: 10px;
  z-index: 0;
  flex-wrap: wrap;
  opacity: 0;
}

.container .containerProject h1 {
  color: #fff;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

.container .containerProject .containerContentProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.container .containerProject .containerContentProjects .cardProject {
  display: flex;
  align-items: start;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: column;
  width: 24%;
  transition: 0.3s;
  border: 1px solid #1e1e1e30;
  background-color: #090909;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  text-decoration: none;
}

.container .containerProject .containerContentProjects .cardProject:hover {
  transition: 0.3s;
  border: 1px solid #1e1e1e;
  cursor: pointer;
}

.container .containerProject .containerContentProjects .cardProject:hover .iconTitleProject {
  color: #0a75f3;
  transition: 0.3s;
  transform: translateX(5px);
}

.container .containerProject .containerContentProjects .cardProject:hover .contentTextProject h1 {
  color: #0a75f3;
  transition: 0.3s;
}

.container .containerProject .containerContentProjects .cardProject:hover .contentTextProject p {
  color: #0a75f3;
  transition: 0.3s;
}

.container .containerProject .containerContentProjects .cardProject img {
  height: 180px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container .containerProject .containerContentProjects .cardProject .contentTextProject {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.container .containerProject .containerContentProjects .cardProject .contentTextProject h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  transition: 0.3s;
  text-align: start;
}

.container .containerProject .containerContentProjects .cardProject .contentTextProject .iconTitleProject {
  margin-left: 10px;
  transition: 0.1s;
}

.container .containerProject .containerContentProjects .cardProject .contentTextProject p {
  color: #b8b8bc;
  margin-bottom: 9px;
  font-size: 13.5px;
  transition: 0.3s;
}

.container .containerProject .containerContentProjects .cardProject .contentTextProject ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.container .containerProject .containerContentProjects .cardProject .contentTextProject ul li {
  padding: 3px 8px;
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  margin-right: 8px;
  color: #a1a1aa;
  font-size: 12px;
}

@media screen and (max-width: 1100px) {
  .container .contentContainer .containerContentInfo {
    flex-direction: column-reverse;
  }

  .container .contentContainer .containerContentInfo .contentTextInfo {
    align-items: center;
    width: 100%;
  }

  .container .contentContainer .containerContentInfo .imgPhoto {
    margin-bottom: 40px;
    width: 150px;
  }

  .container .contentContainer h1 {
    text-align: center;
    font-size: 22px;
    width: 85%;
  }

  .container .contentContainer p {
    text-align: center;
    font-size: 14px;
  }

  .container .containerProject h1 {
    font-size: 22px;
  }

  .container .containerProject .containerContentProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container .containerProject .containerContentProjects .cardProject {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }

  .container .containerProject .containerContentProjects .cardProject img {
    height: 300px;
  }
}