.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #1e1e1e;
    height: 100px;
    background-color: #090909;
    width: 100%;
}

.footer .contentFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
}

.footer .contentFooter p {
    color: #87878b;
    font-size: 14px;
}

.footer .contentFooter p a {
    text-decoration: underline;
    color: #87878b;
    transition: 0.2s;
}

.footer .contentFooter p a:hover{
    color: #fff;
    transition: 0.2s;
}

.footer .contentFooter .linkToBlog {
    color: #a1a1aa;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
}

.footer .contentFooter .linkToBlog:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}